@model IEnumerable<HouseRent.Models.Advertise>
@using System
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Find your dream home";
}

<h2>Find Your Dream Home...</h2>
<br />
<form asp-action="Index" asp-controller="Advertises" method="get">

    <table class="table-responsive">
        <tr>
            <td>
                <input type="date" name="rentFrom" class="form-control" />
            </td>
            <td>
                <input type="date" name="rentTo" class="form-control" />
            </td>
            <td>
                <input type="text" placeholder="Area" name="area" class="form-control" />
            </td>
            <td>
                <select name="type" class="form-control">
                    <option value="">House Type</option>
                    <option value="Apartment">Apartment</option>
                    <option value="Hostel">Hostel</option>
                    <option value="Hotel">Hotel</option>
                    <option value="Room">Room</option>
                </select>
            </td>
            <td>
                <select name="rent" class="form-control">
                    <option value="">Rent Range</option>
                    <option value="0-50$">0-50$</option>
                    <option value="51-100$">51-100$</option>
                    <option value="101-200$">101-200$</option>
                    <option value="201-400$">201-400$</option>
                </select>
            </td>
            <td>
                <select name="category" class="form-control">
                    <option value="">Amount of people</option>
                    <option value="1">1</option>
                    <option value="2-3">2-3</option>
                    <option value="4-5">4-5</option>
                    <option value="6+">6+</option>
                </select>
            </td>
            <td>
                <input type="submit" value="Search" class="btn btn-info" />
            </td>
        </tr>
    </table>
</form>

<br /><br />

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.RentDate)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlatType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlatDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.RentDate)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlatType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlatDetails)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    @if (@Context.Session.GetString("sRole") == "admin")
                    {
                        <a asp-action="Delete" asp-route-id="@item.ID"> Delete</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
